.line-between {
  text-align: center;
  margin: 1em 0;
  @include flexbox;
  @include justify-content(center);
  &:before, &:after {
    @include flex-grow(.4);
    height: 2px;
    content: '\a0';
    background-color: $blue;
    position: relative;
    top: .75em;
  }
  &:before {
    margin-right: 12px;
  }
  &:after {
    margin-left: 12px;
  }
}
