small {
  font-size: 70%;
}
.wrapper.style5 h2, .wrapper.style5 h3, .wrapper.style5 h4, .wrapper.style5 h5, .wrapper.style5 h6 {
  color: $blue;
  text-transform: none;
  letter-spacing: 0;
  font-weight: bold;
  line-height: 1.25;
}
.wrapper.style5 h2 {
  font-size: 2.85em;
}
.wrapper.style5 h3 {
  font-size: 1.75em;
  margin: 0;
}
h1.slogan {
  font-size: 3em;
  text-transform: none;
  letter-spacing: 1px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
#header h1 {
  color: white;
}
.wp-caption-text {
  padding-left: .675em;
  color: $blue;
  font-variant: all-small-caps;
  font-size: 1em;
  line-height: 1em;
  margin: 0 0 .5em 0;
}
